<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Students_list</title>
</head>
<body>
    <div class="container mt-5">
        <table class="table table-hover">
        <tr>
            <th>student firstname</th>
            <th>student lastname</th>
            <th>student detail</th>
            <th>student edit</th>
        </tr>

        {% for student in object_list %}
        <tr>
            <td>
                {{ student.user.first_name }}
            </td>
            <td>
                {{ student.user.last_name }}
            </td>
            <td>
                <a href="/class/home/students/{{ student.pk }}/">
                    detail
                </a>

            </td>
            <td>
                <a href="/class/home/students/{{ student.pk }}/edit">
                    edit
                </a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>