{% extends 'index.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block content2 %}
    <div class="login-wrap pb-4">
        <div class="login-content border-success", style="background-color: #b8daff; color: #004085;">
            <h3 class="text-center" style="color: #004085;">تغییر رمز عبور</h3>
            <div class="login-form">
                <table class = 'text-right ' style="vertical-align: top;">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <tr><td>
                    <button type="submit" class="btn btn-success">تغییر رمز</button>
                    </td></tr>
                </form>
                    </table>
            </div>
        </div>
    </div>
<style>
th{
    vertical-align: top;
    width: 125px;
}
</style>
{% endblock %}

