{% extends 'list.html' %}
{% load static from staticfiles %}
{% load auth_group %}

{% block list_title %}<b>لیست کلاس ها</b>{% endblock %}

{% block list_add_icon %}
    <a href="/dashboard/classroomform/" class="ml-3">
        <h2 class="text-primary"><i class="zmdi zmdi-collection-add"></i></h2>
    </a>
{% endblock %}

{% block list_content %}
    <table class="table table-hover" style="text-align: center">
        <tr>
            <th>کلاس</th>
            <th>سال تحصیلی</th>
            <th>دانش آموزان</th>
            <th>معلمان</th>
            {% if request.user|has_group:"manager" %}
                <th>جزئیات</th>
                <th>ویرایش</th>
                <th>حذف</th>
            {% endif %}
        </tr>

        {% for classroom in object_list %}
            <tr>
                <td>
                    <a href="/dashboard/classrooms/{{ classroom.pk }}/schedule">
                        {{ classroom.level_field.get_level_display }} {{ classroom.level_field.get_field_display }} {{ classroom.get_branch_display }}
                    </a>
                </td>
                <td>
                    {{ classroom.education_year }}
                </td>
                <td>
                    <a href="/dashboard/classrooms/{{ classroom.pk }}/students">
                        <i class="zmdi zmdi-accounts-list"></i>
                    </a>

                </td>
                <td>
                    <a href="/dashboard/classrooms/{{ classroom.pk }}/teachers">
                        <i class="zmdi zmdi-accounts-list-alt"></i>
                    </a>
                </td>
                {% if request.user|has_group:"manager" %}
                    <td>
                        <a href="/dashboard/classrooms/{{ classroom.pk }}/">
                            <i class="fas fa-info-circle"></i>
                        </a>

                    </td>
                    <td>
                        <a href="/dashboard/classrooms/{{ classroom.pk }}/edit">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>

                    <td>
                        <a href="/dashboard/classrooms/{{ classroom.pk }}/delete">
                            <i class="zmdi zmdi-delete text-danger"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}


