{% extends 'form.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block form_title %} ثبت  کلاس{% endblock %}

{% block form_content %}
    <form action="" method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.level_field.erorrs }}
            <label for="{{ form.level_field.id_for_label }}">پایه و رشته تحصیلی</label>
            {% render_field form.level_field class+="au-input au-input--full" %}
        </div>
        <div class="form-group">
            {{ form.branch.errors }}
            <label for="{{ form.branch.id_for_label }}">گروه</label>
            {% render_field form.branch class+="au-input au-input--full" %}
        </div>
        <div class="form-group">
            {{ form.education_year.errors }}
            <label for="{{ form.education_year.id_for_label }}">سال تحصیلی</label>
            {% render_field form.education_year class+="au-input au-input--full" %}
        </div>
        <div class="form-group">
            {{ form.is_active.errors }}
            <label for="{{ form.is_active.id_for_label }}">فعال</label>
            {{ form.is_active }}
        </div>

        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
{% endblock %}
