{% extends 'index.html' %}
{% load static from staticfiles %}

{% block style %}
    <style>
        th {
            cursor: pointer;
        }


    </style>
{% endblock %}
{% block content2 %}
    <div class="row">
        <div class="col-12">

            <h4 class="text-center m-auto">لیست پیام ها</h4>


            <div class="bg-light m-2">

                {% include "edu/message_list.html" %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('th').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) {
                rows = rows.reverse()
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i])
            }
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).text()
        }
    </script>
{% endblock %}