{% extends 'form.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block form_title %}ثبت نام دانش آموز در کلاس{% endblock %}

{% block form_content %}
    <form action="" method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.student.erorrs }}
            <label for="{{ form.student.id_for_label }}">دانش آموز</label>
            {% render_field form.student class+="au-input au-input--full" %}
        </div>
        <div class="form-group">
            {{ form.classroom.errors }}
            <label for="{{ form.classroom.id_for_label }}">کلاس</label>
            {% render_field form.classroom class+="au-input au-input--full" %}
        </div>
        <div class="login-checkbox">
            {{ form.is_active.errors }}
            <label for="{{ form.is_active.id_for_label }}">
                {% render_field form.is_active %} فعال </label>
        </div>

        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>
{% endblock %}
