{% extends 'index.html' %}
{% load static from staticfiles %}


{% block content2 %}
    <div class="container mt-5">
        <table class="table table-hover">
        <tr>
            <th>student firstname</th>
            <th>student lastname</th>
            <th>student detail</th>
            <th>student edit</th>
        </tr>

        {% for student in object_list %}
        <tr>
            <td>
                {{ student.user.first_name }}
            </td>
            <td>
                {{ student.user.last_name }}
            </td>
            <td>
                <a href="dashboard/students/{{ student.pk }}/">
                    detail
                </a>

            </td>
            <td>
                <a href="dashboard/students/{{ student.pk }}/edit">
                    edit
                </a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
