{% extends 'list.html' %}
{% load static from staticfiles %}
{% load list_tags %}
{% block style_list %}
    <style>
        table {
            width: 100%;
            text-align: center;
        }

        thead, tbody, tr, td, th {
            display: block;
        }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 50px;
            background-color: silver;

            /*text-align: left;*/
        }

        tbody {
            height: 400px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }

        tbody td, thead th {
            width: 16.3%;
            float: right;
        }

        {#td {#}
        {#    .filterable_cell#}
        {
        #}#}
    </style>

{% endblock %}
{% block list_title %}<b>لیست معلم ها</b>{% endblock %}

{% block list_add_icon %}
    <a href="/dashboard/teacherform/" class="ml-3">
        <h2 class="text-primary"><i class="zmdi zmdi-account-add"></i></h2>
    </a>
{% endblock %}

{% block list_content %}
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تاریخ استخدام</th>
                <th>مشخصات</th>
                <th>ویرایش</th>
                <th>حذف</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teacher_list %}
                <tr>
                    <td>
                        {{ teacher.user.first_name }}
                    </td>
                    <td>
                        {{ teacher.user.last_name }}
                    </td>
                    <td>
                        {{ hire_dates|list_item:forloop.counter0 }}
                    </td>
                    <td>
                        <a href="/dashboard/teachers/{{ teacher.pk }}/">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/dashboard/teachers/{{ teacher.pk }}/edit">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/dashboard/teachers/{{ teacher.pk }}/delete">
                            <i class="zmdi zmdi-delete text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
{% block filter_title %}
    <h4 class="text-center m-auto">فیلتر</h4>
{% endblock %}
{% block filter %}
    <form action="" method="get" class="form-horizontal p-auto">
        {% csrf_token %}
        <div class="form-group">
            {{ search.as_p }}
        </div>

        <input type="submit" class="btn btn-primary mt-5" value="جستجو"/>
    </form>
{% endblock %}
{% block script_list %}
    <script>

    </script>
{% endblock %}
