<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <title>Students_list</title>
</head>
<body>
    <div class="container mt-5">
        <form action="" method="get" class="form-horizontal p-auto">
        {% csrf_token %}
        {{ search.as_p }}
        <input type="submit" class="btn btn-primary" value="Search" />
        </form>
        <table class="table table-hover">
        <tr>
            <th>teacher firstname</th>
            <th>teacher lastname</th>
            <th>teacher hire_date</th>
            <th>teacher detail</th>
            <th>teacher edit</th>
        </tr>

        {% for teacher in teacher_list %}
        <tr>
            <td>
                {{ teacher.user.first_name }}
            </td>
            <td>
                {{ teacher.user.last_name }}
            </td>
            <td>
                {{ teacher.hire_date }}
            </td>
            <td>
                <a href="/class/home/teachers/{{ teacher.pk }}/">
                    detail
                </a>

            </td>
            <td>
                <a href="/class/home/teachers/{{ teacher.pk }}/edit">
                    edit
                </a>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

</body>
</html>